<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js updated" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width" />
  <link rel="shortcut icon" type="image/ico" href="favicon.ico">

  <title><%= workshop.title %> - <%= workshop.dates %></title>
  <meta name="description" content="A two-day programming workshop for journalists in <%= workshop.geographic %>">
  <meta name="keywords" content="Code with me, programming, coding, journalists, journalism workshop, HTML, CSS, jQuery">
  <meta name="author" content="Tom Giratikanon and Sisi Wei">

  <%= stylesheet_link_tag "workshop" %>
  <%= javascript_include_tag  "all" %>
  <!--[if lt IE 9]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="//use.typekit.net/wbz0zag.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
      
</head>
<body>

  <header>

    <div class="row title-row">
      <div class="twelve columns">
         <h1>
          <a href="index.html"><%= workshop.title %></a>
          <span><%= workshop.dates %>&nbsp; &middot &nbsp;<%= workshop.hours %></span> 
         </h1>
      </div>
      <div class="five columns">
          
      </div>
    </div>

    <nav class="row">
      <div class="twelve columns">
        <ul class="no-bullet">
              <li class="action"><a href="apply.html">Apply</a></li> 
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="mentors.html">Mentors</a></li>
              <li><a href="schedule.html">Schedule</a></li>
              <li><a href="contact.html">Contact</a></li>
              <!-- <li><a href="exercises.html">Exercises</a></li> -->
              <!-- <li><a href="resources.html">Resources</a></li> -->
          </ul>
      </div>
    </nav>

  </header>


  <!-- Page Content -->
  <%= yield %>

  <!-- Footer -->
  <footer>
    Founded by <a href="http://www.twitter.com/sisiwei">Sisi Wei</a> & <a href="http://www.tgirat.com/">Tom Giratikanon</a> /  Site by <a href="http://www.twitter.com/kuanluo">Kuan Luo</a> / Together with &#009825
  </footer>

  <%= javascript_include_tag  "analytics" %>

</body>
</html>
