  
<div id="mentors" class="row">
  <div class="twelve columns" style="padding-right: 30px;">

     <h4>Mentors</h4>

      <% workshop.mentors.each_slice(3) { |row| %>
      
        <div class="row">
            
            <% for person in row %>

              <div class="three columns">
                <center>
                  <a target="_blank" href="<%= person.url %>"><img src="<%= person.image %>"/></a>
                </center>
                <p class="name"><a target="_blank" href="<%= person.url %>"><%= person.name %></a></p>
                <p class="title"><%= person.title %></p>
                <p class="work"><a target="_blank" href="http://"><%= person.organization %></a></p>
               </div>  
          
            <% end %>

        </div>
    
      <% } %> 
   
   <h4>With help from:</h4>

     <% workshop.assistants.each_slice(3) { |row| %>
      
        <div class="row">
            
            <% for person in row %>

              <div class="three columns">
                <center>
                  <a target="_blank" href="<%= person.url %>"><img src="<%= person.image %>"/></a>
                </center>
                <p class="name"><a target="_blank" href="<%= person.url %>"><%= person.name %></a></p>
                <p class="title"><%= person.title %></p>
                <p class="work"><a target="_blank" href="http://"><%= person.organization %></a></p>
               </div>  
          
            <% end %>

        </div>
    
      <% } %> 
   
   <h4>Program Directors</h4>
   
    <% workshop.directors.each_slice(3) { |row| %>
      
        <div class="row">
            
            <% for person in row %>

              <div class="three columns">
                <center>
                  <a target="_blank" href="<%= person.url %>"><img src="<%= person.image %>"/></a>
                </center>
                <p class="name"><a target="_blank" href="<%= person.url %>"><%= person.name %></a></p>
                <p class="title"><%= person.title %></p>
                <p class="work"><a target="_blank" href="http://"><%= person.organization %></a></p>
               </div>  
          
            <% end %>

        </div>
    
      <% } %> 


  </div></div>