---
title: Mentors
---

<div id="mentors" class="row">
  <div class="twelve columns" style="padding-right: 30px;">

     <h4>Mentors</h4>

      <% workshop.mentors.each_slice(4) { |row| %>
      
        <div class="row">
            
            <% row.each_with_index {  |person, index|   %>

              <div class="three columns">
                <center>
                  <%= image_tag person.image %>
                </center>
                <p class="name"><%= person.name %></p>
                <p class="title"><%= person.title %></p>
                <p class="work"><%= person.organization %></p>
               </div>  

                <% if (row.length == 1 && index == 0) then %>

                  <div class="nine columns"></div>

                 <% elsif (row.length == 2 && index == 1) then %>

                  <div class="six columns"></div>

                 <% elsif (row.length == 3 && index == 2) then %>

                  <div class="three columns"></div>

                 <% end %>
          
            <% } %>

        </div>



              
    
      <% } %> 
   

  <% if workshop.assistants then %>

   <h4>With help from:</h4>

     <% workshop.assistants.each_slice(4) { |row| %>
      
        <div class="row">
            
            <% for person in row %>

              <div class="three columns">
                <center>
                  <a target="_blank" href="<%= person.url %>"><%= image_tag person.image %></a>
                </center>
                <p class="name"><a target="_blank" href="<%= person.url %>"><%= person.name %></a></p>
                <p class="title"><%= person.title %></p>
                <p class="work"><a target="_blank" href="http://"><%= person.organization %></a></p>
               </div> 
          
            <% end %>

        </div>
    
      <% } %> 

  <% end %>
   
   <h4>Program Directors</h4>
   
    <% workshop.directors.each_slice(4) { |row| %>
      
        <div class="row">
            
            <% for person in row %>

              <div class="three columns">
                <center>
                  <%= image_tag person.image %>
                </center>
                <p class="name"><%= person.name %></p>
                <p class="title"><%= person.title %></p>
                <p class="work"><%= person.organization %></p>
               </div>  
          
            <% end %>

            <div class="six columns"></div>

        </div>
    
      <% } %> 


  </div></div>