 <div class="three columns workshop-section">

    <section>
      <h2>Details</h2>

      <div class="confinfo">
        <% if workshop.applications.status == "open" && show_apply %>
          <a href="apply.html" class="button">Apply now</a>
          <p><strong>Deadline</strong>: <%= workshop.applications.deadline %>.  Notified by <%= workshop.applications.notification %>.</p>
        <% elsif workshop.applications.status == "pre" %>
          <p><strong>Applications will open soon!</strong></p>
        <% end %>
        <p><strong>Workshop cost</strong>: <%= workshop.cost %></p>
        <p>
          <strong>Venue</strong>: <a href="<%= workshop.venue_link %>" target="_blank"><%= workshop.venue %></a>
          <%= workshop.address %>
        </p>
      </div>

    </section>
    
    <section class="sponsors">
      <h2>Sponsors</h2>
      <div class="sponsor-list">
        <% for sponsor in workshop.sponsors %>
          <div class="sponsor">
            <a href="<%= sponsor.url %>"><%= image_tag sponsor.image, :class => 'sponsor-logo' %></a>
            <p><%= sponsor.role %></p>
          </div>
        <% end %>

      </div>
    </section>

</div>